body {
	font-family: 'Droid Serif', Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	color: #353535;
	background-image: url('background.png');
	margin: 0px auto;
	max-width: 500px;
	padding: 40px;
}

::selection{
	background-color: black;
	color: white;
}

li{
	padding: 10px;
}

div.email {
	padding-top:80px;
	text-align: center;
}

a{
	color: #555;
}

@media (min-width: 950px)
{
	div.logo
	{
		display: block !important;
		position: absolute;
		left: 0;
		padding: 80px 0 0 40px;
		opacity: 0.9;
	}
}